{% extends "facilities_index.html" %}
{% block picture %}
link for a random picture
{% endblock %}
{% block info %}
talking about this squash court
{% endblock %}
{% block timetable %}
<style>
  .grid-container {
    display: grid;
    grid-template-rows:
      [header] 1fr
      [time-08] 1fr
      [time-09] 1fr
      [time-10] 1fr
      [time-11] 1fr
      [time-12] 1fr
      [time-13] 1fr
      [time-14] 1fr
      [time-15] 1fr
      [time-16] 1fr;
    grid-template-columns:
      [time] 1fr
      [day-0] 1fr
      [day-1] 1fr
      [day-2] 1fr
      [day-3] 1fr
      [day-4] 1fr
      [day-5] 1fr
      [day-6] 1fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .item1 {
    grid-row: header / time-08;
    grid-column: time / day-0;
  }

  .item2 {
    grid-row: header / time-08;
    grid-column: day-0 / day-1;
  }

  .item3 {
    grid-row: header / time-08;
    grid-column: day-1 / day-2;
  }

  .item4 {
    grid-row: header / time-08;
    grid-column: day-2 / day-3;
  }

  .item5 {
    grid-row: header / time-08;
    grid-column: day-3 / day-4;
  }

  .item6 {
    grid-row: header / time-08;
    grid-column: day-4 / day-5;
  }

  .item7 {
    grid-row: header / time-08;
    grid-column: day-5 / day-6;
  }

  .item8 {
    grid-row: header / time-08;
    grid-column: day-6;
  }

  .item9 {
    grid-row: time-08 / time-09;
    grid-column: time / day-0;
  }

  .item10 {
    grid-row: time-09 / time-10;
    grid-column: time / day-0;
  }

  .item11 {
    grid-row: time-10 / time-11;
    grid-column: time / day-0;
  }

  .item12 {
    grid-row: time-11 / time-12;
    grid-column: time / day-0;
  }

  .item13 {
    grid-row: time-12 / time-13;
    grid-column: time / day-0;
  }

  .item14 {
    grid-row: time-13 / time-14;
    grid-column: time / day-0;
  }

  .item15 {
    grid-row: time-14 / time-15;
    grid-column: time / day-0;
  }

  .item16 {
    grid-row: time-15 / time-16;
    grid-column: time / day-0;
  }

  .item17 {
    grid-row: time-16;
    grid-column: time / day-0;
  }

  </style>
  <div class="grid-container">
    <div class="item1">Time</div>
    <div class="item2">Monday</div>
    <div class="item3">Tuesday</div>  
    <div class="item4">Wednesday</div>
    <div class="item5">Thursday</div>
    <div class="item6">Friday</div>
    <div class="item7">Saturday</div>
    <div class="item8">Sunday</div>
    <div class="item9">08</div>
    <div class="item10">09</div>
    <div class="item11">10</div>
    <div class="item12">11</div>
    <div class="item13">12</div>
    <div class="item14">13</div>
    <div class="item15">14</div>
    <div class="item16">15</div>
    <div class="item17">16</div>
    {% for booking in bookings %}
      <div style="grid-row: time-{{ booking.datetime.strftime('%H') }}; grid-column: day-{{ booking.datetime.weekday() }}">{{ booking.datetime.weekday() }}</div>
    {% endfor %}
  </div>
{% endblock %}