{% extends "index.html" %}
{% block content %}
  <h1>
    {% block picture %}
    {% endblock %}
  </h1>
  <h2>
    {% block info %}
    {% endblock %}
  </h2>
  <div class="grid-container">
  {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
  <div class="grid_sub">
    <div style="grid-row-start: header;">{{ day }}</div>
  </div>
  {% endfor %}
  {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
  <div class="grid-sub">
    {% for booking in bookings[loop.index0+1] %}
      <div style="grid-row: time-{{ booking.datetime.strftime('%-H') }};">{{ booking.datetime.weekday() }}</div>
    {% endfor %}
  </div>
  {% endfor %}
  </div>
  <a href="/facilities/{{ facility }}/{{ year }}/{{ week - 1 }}">previous</a>
  <a href="/facilities/{{ facility }}/{{ year }}/{{ week + 1 }}">next</a>
{% endblock %}