{% extends "index.html" %}
{% block content %}
  <form method='POST'>
    <!--CSFR protection-->
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Account Info</legend>
    <!--card expiry field-->
    <div class="form-group">
      {{ form.duration.label(class="form-control-label") }}
      {% if form.duration.errors %}
        {{ form.duration(class="form-control form-control-lg is-invalid") }}
        <div class="inalid-feedback">
          {% for error in form.duration.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.duration(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!--submit button-->
    <div class="form-group">
      {{ form.submit(class="btw btn-outline-info") }}
    </div>
  </form>
{% endblock %}